*{
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(40, 40, 40), rgb(25, 25, 25));
}

.top{
    background-color: rgb(12, 12, 12);
    position: fixed;
    left: 0;
    height: 10.2%;
    width: 100%;
    border: 2px solid, black;
    display: grid;
    overflow: auto;
    z-index: 3;
    align-items: center;
}

#search-bar{
    background-color: rgb(8, 8, 8);
    position: fixed;
    left: 0;
    height: 5%;
    width: 35%;
    transform: translateX(95%);
    border: 2px solid, black;
    display: grid;
    overflow: auto;
    z-index: 3;
}

.top input[type=text]{
    background-color: rgb(0, 0, 0);
    float: right;
    border: none;
    font-size: 3.5vh;
    text-align: center;
    color: white;
}

.library{
    transform: translateY(12.2%);
    background-color: rgb(18, 18, 18);
    position: fixed;
    left: 0;
    height: 81%;
    width: 10%;
    border: 2px solid, black;
    display: grid;
    overflow: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1000, 1fr);
    z-index: 2;
}

.library img{
    justify-self: center;
    max-width: 85%;
    max-height: 85%;
    border-radius: 5%;
    margin-top: 5%;
    margin-left: 5%;
}

#album-title{
    transform: translateY(40.7%);
    position: fixed;
    top: 0;
    right: 0;
    height: 25%;
    width: 100%;
    align-items: center;
    display: inline-flex;
    z-index: 1;
}

.music-player{
    background-color: rgb(19, 19, 19);
    position: fixed;
    bottom: 0;
    height: 10%;
    width: 100%;
    align-items: center;
    border: 2px solid, black;
    z-index: 3;
    display: flex;
    align-items: flex-start;
}

#songs-list{
    transform: translateY(64.2%);
    background-color: rgb(30, 30, 30);
    height: 54.8%;
    width: 100%;
    display: grid;
    overflow: auto;
    z-index: 0;
    overflow-x: hidden;
    grid-template-rows: repeat(1000, 1fr);
}

#search-bar::-webkit-scrollbar{
    display: none;
}

#songs-list::-webkit-scrollbar{
    display: none;
}

.library::-webkit-scrollbar{
    display: none;
}

#songs-list div{
    line-height: 20%;
    transform: translateX(10%);
    color: white;
    height: 78px;
    align-items: center;
    display: inline-flex;
    font-size: 20px;
    font-weight: normal;
    word-wrap: break-word;
}

#songs-list div h4{
    position: absolute;
    transform: translateY(-12px);
    font-weight: normal;
    padding-left: 90px;
}

#songs-list div p{
    position: absolute;
    transform: translateY(13px);
    font-weight: lighter;
    color: darkgrey;
    padding-left: 90px;
    font-size: 18px;
}

.album-info h1{
    font-size: 9vh;
    color: white;
    transform: translateY(125%);
    position: absolute;
    bottom: 80%;
    margin-left: 0.5%;
}

.setplay h1{
    font-size: 60px;
}

.album-info p{
    position: absolute;
    font-size: 3vh;
    color: darkgrey;
    transform: translateY(180%);
    margin-left: 0.7%;
}

.album-img{
    max-width: 90%;
    max-height: 90%;
    border-radius: 5%;
    margin-left: 10.5%;
}

.song-info{
    align-items: center;
    justify-content: flex-start;
}

.song-img{
    max-width: 90%;
    max-height: 90%;
    border-radius: 10%;
    position: relative;
    align-self: center;
    left: 0.5%;
}

.music-player h1{
    font-size: 2.5vh;
    font-weight: 400;
    color: white;
    margin-left: 25px;
    margin-top: 5px;
}

.music-player p{
    font-size: 2vh;
    color: rgb(60, 60, 60);
    margin-left: 25px;
}

.controls{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 7px
}

#volume{
    position: absolute;
    transform: translateY(250%);
    right: 1%;
    width: 5.5%;
    height: 16.5%;

    appearance: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
    -webkit-appearance: none;
    outline: none;
    accent-color: white;
}

#progress{
    position: absolute;
    top: 125%;
    right: -100%;
    width: 300%;
    height: 50%;

    appearance: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
    -webkit-appearance: none;
    outline: none;
    accent-color: white;
}

#volume::-webkit-slider-runnable-track, #progress::-webkit-slider-runnable-track{
    background-color: darkgray;
    transition: background 450ms ease-in;
    border-radius: 10px;
    height: 6px;
}

#volume::-webkit-slider-runnable-track{
    background: var(--slider-background, linear-gradient(to right, white 50%, gray 50%));
}

#progress::-webkit-slider-runnable-track{
    background: var(--slider-background, linear-gradient(to right, white 0%, gray 0%));
}

#volume::-moz-range-track{
    background: var(--slider-background, linear-gradient(to right, white 50%, gray 50%));
}

#progress::-moz-range-track{
    background: var(--slider-background, linear-gradient(to right, white 0%, gray 0%));
}

#volume::-webkit-slider-thumb, #progress::-webkit-slider-thumb{
    appearance: none;
    -webkit-appearance: none;

    margin-top: -5px;
    background-color: white;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

#volume::-moz-range-track, #progress::-moz-range-track{
    background-color: darkgray;
    background: var(--slider-background, linear-gradient(to right, white 50%, gray 50%));
    transition: background 450ms ease-in;
    border-radius: 10px;
    height: 6px;
}

#volume::-moz-range-thumb, #progress::-moz-range-thumb{
    appearance: none;
    -webkit-appearance: none;

    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

#volume-icon{
    position: absolute;
    width: 5vh;
    height: 5vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transform: translateY(48%);
    border-radius: 50%;
    cursor: pointer;
    right: 7%;
}

#volume-icon img{
    width: 70%;
    height: 70%;
}

.controls img{
    width: 95%;
    height: 95%;
}

.controls div{
    width: 4vh;
    height: 4vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
}

#shuffler, #repeater{
    width: 3vh;
    height: 3vh;
}

.controls div:nth-child(3){
    background-color: white;
}

.inverted {
    filter: invert()
}
