*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(40, 40, 40), rgb(25, 25, 25));
}

.top{
    background-color: rgb(12, 12, 12);
    position: fixed;
    left: 0;
    height: 10.2%;
    width: 100%;
    border: 2px solid, black;
    display: grid;
    overflow: auto;
    z-index: 3;
    align-items: center;
}

#search-bar{
    background-color: rgb(8, 8, 8);
    position: fixed;
    left: 0;
    height: 5%;
    width: 35%;
    transform: translateX(95%);
    border: 2px solid, black;
    display: grid;
    overflow: auto;
    z-index: 3;
}

.top input[type=text]{
    background-color: rgb(0, 0, 0);
    float: right;
    border: none;
    font-size: 3.5vh;
    text-align: center;
    color: white;
}

.library{
    transform: translateY(12.2%);
    background-color: rgb(18, 18, 18);
    position: fixed;
    left: 0;
    height: 81%;
    width: 10%;
    border: 2px solid, black;
    display: grid;
    overflow: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1000, 1fr);
    z-index: 2;
}

.library img{
    justify-self: center;
    max-width: 85%;
    max-height: 85%;
    border-radius: 5%;
    margin-top: 5%;
    margin-left: 5%;
}

.album-title{
    transform: translateY(50%);
    background-color: rgb(23, 23, 23);
    position: fixed;
    top: 0;
    right: 0;
    height: 20%;
    width: 100%;
    align-items: center;
    border: 2px solid, black;
    display: inline-flex;
    z-index: 1;
}

.music-player{
    background-color: rgb(19, 19, 19);
    position: fixed;
    bottom: 0;
    height: 10%;
    width: 100%;
    align-items: center;
    border: 2px solid, black;
    z-index: 3;
    display: flex;
    align-items: flex-start;
}

.songs-list{
    transform: translateY(48.2%);
    height: 61%;
    width: 100%;
    display: grid;
    overflow: auto;
    z-index: 0;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1000, 1fr);
}

#search-bar::-webkit-scrollbar{
    display: none;
}

.songs-list::-webkit-scrollbar{
    display: none;
}

.library::-webkit-scrollbar{
    display: none;
}

.songs-list div{
    position: relative;
    color: white;
    height: 75px;
    width: 100%;
    align-items: center;
    display: inline-flex;
    padding-left: 12%;
    font-size: 20px;
    word-wrap: break-word;
}

.songs-list div p{
    position: absolute;
    padding-left: 65px; 
}

.album-info h1{
    font-size: 6vh;
    color: white;
    bottom: 80%;
    margin-left: 15px;
}

.setplay h1{
    font-size: 60px;
}

.album-info p{
    font-size: 4vh;
    color: rgb(60, 60, 60);
    margin-left: 15px;
}

.album-img{
    max-width: 90%;
    max-height: 90%;
    border-radius: 5%;
    box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.5);
    margin-left: 11%;
}

.song-info{
    align-items: center;
    justify-content: flex-start;
}

.song-img{
    max-width: 90%;
    max-height: 90%;
    border-radius: 10%;
    position: relative;
    align-self: center;
    left: 0.5%;
}

.music-player h1{
    font-size: 2.5vh;
    font-weight: 400;
    color: white;
    margin-left: 25px;
    margin-top: 5px;
}

.music-player p{
    font-size: 2vh;
    color: rgb(60, 60, 60);
    margin-left: 25px;
}

.controls{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 5px
}

#volume{
    position: absolute;
    right: 1.5%;
    transform: translateY(440%);
}

#volume-icon{
    position: absolute;
    width: 5vh;
    height: 5vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transform: translateY(48%);
    border-radius: 50%;
    cursor: pointer;
    right: 7%;
}

input[type="range"] {
    appearance: none;
    width: 5%;
    height: 10%;
    border-radius: 5px;
    overflow: hidden;
    background-color: gray;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1vh;
    height: 1vh;
    background: white;
    border-radius: 50%;
    cursor: ew-resize;
    box-shadow: -80px 0 0 75px white;
}

#volume-icon img{
    width: 70%;
    height: 70%;
}

.controls img{
    width: 90%;
    height: 90%;
}

.controls div{
    width: 7vh;
    height: 7vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
}

#shuffler, #repeater{
    width: 5vh;
    height: 5vh;
}

.controls div:nth-child(3){
    background-color: white;
}

.inverted {
    filter: invert()
}
